# dependencies
node_modules
public/*
!public/downloads
!public/examples
!public/examples-unreleased

# logs
npm-debug.log

# generated
markdown/examples.md

# all geojsons (very large files) in that specific data folder
public/examples/p5_Examples/geotiff_2D/data/*.geojson